
/* Contact Section */
.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Contact Info Boxes */
.contact-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #202020;
    padding: 10px 10px;
}

.contact-box {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.contact-box .icon {
    margin-bottom: 10px;
}

.contact-box img {
    width: 50px;
    height: 50px;
}

.contact-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fbf8f8;
}

.contact-box p {
    font-size: 16px;
    color: #c2b8b8;
    margin: 0;
    line-height: 1.5;
}
.contact-box a{
    text-decoration: none;
    line-height: 2.5;
    color: #c2b8b8;
}

/* Contact Form */
.contact-form {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #202020;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #d7d1d1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group input {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #201f1f;
    margin-left: 5px;
    color: wheat;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #201f1f;
    margin-bottom: 20px;
    resize:both;
    height: 100px;
    color: white;
    width: 750px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #1E90FF;
    border: none;
    /* position: relative; */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #1C86EE;
}

.article{
    margin-bottom: 60px;
    margin-left: 400px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-box {
        width: 95%;
        margin-bottom: 20px;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: 90%;
        margin-bottom: 20px;
    }
    .article{
        margin-left: 2px;
        margin-right: 1px;
        width:300px;
    }
    .article iframe{
        width:400px;
        height: 250px;
    }
    textarea{
        width:260px;  
    }
}
